body {
    background: #111;
    color: #eee;
    font-family: Arial, sans-serif;
    text-align: center;
}

.control{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #0077ff;
    color: white;
    border: none;
}

.search{
    padding: 5px 10px;
    border-radius: 5px;
}

#game-area {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#robot-list, #details {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
}

.robot-card {
    padding: 10px;
    background: #333;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}

.robot-card:hover {
    border: 2px solid #00b7ff;
}

.robot-card.selected {
    border: 2px solid yellow;
}

.component {
    padding: 5px;
    margin: 5px;
    background: #444;
    border-radius: 5px;
}

.popup {
    background: #222;
    padding: 20px;
    width: 350px;
    margin: auto;
    border-radius: 10px;
    margin-top: 50px;
}

.popup input {
    padding: 10px;
    width: 80%;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
}

.popup button {
    margin-top: 10px;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
}

