body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #1b1b1b, #000000);
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-container {
    text-align: center;
    background: rgba(0, 0, 0, 0.35);
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    backdrop-filter: blur(4px);
    border: 1px solid #3aaaff;
    box-shadow: 0 0 20px #0077ff;
}

.titulo {
    font-size: 30px;
    margin-bottom: 10px;
    text-shadow: 0 0 10px #3aaaff;
}

.subtitulo {
    margin-bottom: 30px;
    opacity: 0.8;
}

.input-nome {
    padding: 14px 53px 14px 14px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-size: 16px;
}

.NameUser {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: row;
}

.btn-salvar {
    padding: 14px;
    background-color: #00c853;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.2s;
}

.btn-salvar:hover {
    background-color: #009624;
    transform: scale(1.05);
}

.menu-buttons button {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.menu-buttons button:hover {
    background-color: #005dc0;
    transform: scale(1.05);
}

.status {
    margin-top: 10px;
    font-size: 14px;
    color: #00e676;
}
